{% extends 'BacklogBundle::layout.html.twig' %}

{% block content %}
    <div id="my-teams">
        <h2>{{ 'page_header.my_teams'|trans }}</h2>

        <ul class="list-group">
            <li class="list-group-item list-group-item-heading justify-content-between">
                {{ 'pages.my_teams.table.headers.team_names'|trans }}
            </li>

            {% for team in teams %}
                <li class="list-group-item justify-content-between">
                    {# todo make a distinction between team I own and team I joined (using tooltip or badge color?) #}
                    <a class="btn btn-dark" href="{{ url('team_show', { 'teamId': team.id, 'tab': 'members' }) }}" data-toggle="tooltip" title="{{ 'pages.my_teams.table.headers.member_count'|trans }}">
                        {{ membersOfTeam(team.id)|length }}
                    </a>
                    <a href="{{ url('team_show', { 'teamId': team.id }) }}">{{ team.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
