{% extends 'BacklogBundle::layout.html.twig' %}

{% block title %}{{ team.name }}{% endblock %}

{% block content %}
<div id="team-show">
    <h1 class="page-header" >{{ team.name }}</h1>

    <nav class="nav nav-tabs">
        <a class="nav-link {% block tabShowClass %}disabled{% endblock %}" href="{{ url('team_show', { 'teamId': team.id }) }}">
            {{ 'link.team.details_tab'|trans }}
        </a>
        <a class="nav-link {% block tabMembersClass %}{% endblock %}" href="{{ url('team_show', { 'teamId': team.id, 'tab': 'members' }) }}">
            {{ 'link.team.members_tab'|trans }}
        </a>
        <a class="nav-link {% block tabSprintsClass %}{% endblock %}" href="{{ url('team_show', { 'teamId': team.id, 'tab': 'sprints' }) }}">
            {{ 'link.team.sprints_tab'|trans }}
        </a>
    </nav>
    <div class="border">
        {% block team_show_body %}
            <div id="team-details">
                <h2>{{ 'pages.headers.team.details'|trans }}</h2>
                TODO
            </div>
        {% endblock %}
    </div>
</div>
{% endblock %}
