{% extends 'BacklogBundle::layout.html.twig' %}

{% block title %}{{ sprint.name }}{% endblock %}

{% block content %}
    <div id="sprint-{{ sprint.id }}" class="sprint">

        <div class="card">
            <h1 class="card-header">
                <span>{{ sprint.name }}</span>
                {% include 'BacklogBundle:Sprint:_sprintStatus.html.twig' with { 'sprint': sprint } %}
            </h1>
            <ul class="list-group list-group-flush">
                <li class="list-group-item focus-factor">
                    <span class="label">{{ "label.sprint.focus_factor"|trans() }}</span>
                    <span class="col-6">{{ focusFactor(sprint.id) * 100 ~ '%' }}</span>
                </li>
                <li class="list-group-item">
                    <span class="label">{{ "label.sprint.members"|trans() }}</span>
                    <span class="col-6 members-count">
                        <a href="{{ url('team_show', { 'teamId': sprint.team.id, 'tab': 'members' }) }}" class="badge badge-dark" >
                            {{ members|length }}
                        </a>
                    </span>
                </li>
            </ul>
            <div class="card-body">
                {% include 'BacklogBundle:Sprint:_commitmentsCard.html.twig' with { 'sprint': sprint, 'members': members } %}
            </div>

            <div class="card-footer text-muted">
                {% if sprint.started %}
                    <span data-toggle="tooltip" title="{{ sprint.startedAt|date('Y-m-d') }}">
                        {{ 'pages.sprint_show.date.started'|trans }}
                        {{ sprint.startedAt|timeAgo }}
                    </span>
                {% elseif sprint.pending %}
                    <span data-toggle="tooltip" title="{{ sprint.createdAt|date('Y-m-d') }}">
                        {{ 'pages.sprint_show.date.created'|trans }}
                        {{ sprint.createdAt|timeAgo }}
                    </span>
                {% else %}
                    <span data-toggle="tooltip" title="{{ sprint.closedAt|date('Y-m-d') }}">
                        {{ 'pages.sprint_show.date.ended'|trans }}
                        {{ sprint.closedAt|timeAgo }}
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
