{# todo extract to put in project dashboard #}
{% if sprint %}

    {% if sprint.started %}
        <div class="active sprint">
            <span class="col-xs-4"><a href="{{ url('sprint_show', {'sprintId': sprint.id }) }}" >{{ sprint.name }}</a></span>
            <span class="col-xs-4 pull-right"><a href="#TODO">{{ 'End'|trans }}</a></span>
        </div>
    {% else %}
        <div class="pending sprint">
            <span class="col-xs-4"><a href="{{ url('sprint_show', {'sprintId': sprint.id }) }}" >{{ sprint.name }}</a></span>
            <span class="col-xs-4 pull-right"><a href="#TODO">{{ 'Start'|trans }}</a></span>
        </div>
    {% endif %}

{% else %}
    <div class="no sprint">
        <span class="col-xs-4">{{ 'No active sprint yet...'|trans }}</span>
        <span class="col-xs-4 pull-right">
            <form id="project-{{ projectId }}-create_sprint" method="POST" action="{{ url('sprint_create', {'projectId': projectId }) }}">
                <button class="btn btn-link">{{ 'link.sprint.create_sprint'|trans }}</button>
            </form>
        </span>
    </div>
{% endif %}
